body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.App .App__top {
  width: 100%;
  height: 20vh;
}

.App .App__main {
  width: 100%;
  height: 70vh;
}

.App .App__bottom {
  width: 100%;
  height: 30vh;
}
